.App {
  text-align:top;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
  
}




.img-thumbnail {
  padding:0.75em !important;
  border:0 !important;
  position: relative;
}


.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display:flex;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 10px;

}

.category{
  background-color: white;
  z-index: 1000;
  border-radius: 5px;
  width:150px;
  height:25px;
  position:relative;
  color:black;
  margin-top:-50px;
  margin-bottom:10px;
  font-weight: bold;
}

.row {
  padding: 0 !important;
}

